@model DIY_v2.Models.Member

@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>修改密碼</h2>
<h2>@ViewBag.Message</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    
 
    <div class="form-group">
        <label>請輸入您的舊密碼 </label>
        <div class="col-md-10">
            <input type="password" id="olderPwd" name="olderPwd" class="control-label col-md-2" />
            <input type="checkbox" onclick="myFunction()">顯示密碼
            <span id="MemberPwdError" class="field-validation-error text-danger" data-valmsg-for="MemberPwd" data-valmsg-replace="true" style=@ViewData["olderPwdError"]>密碼不得空白，最少八個最多十二個字符，至少一個大寫字母，一個小寫字母，一個數字和一個特殊字符</span>
        </div>
    </div>

    <div class="form-group">
        <label>請輸入您的新密碼</label>
        <div class="col-md-10">
            <input type="password" id="newPwd" name="newPwd" class="control-label col-md-2" />
            <input type="checkbox" onclick="myFunction()">顯示密碼
            <span id="MemberPwdError" class="field-validation-error text-danger" data-valmsg-for="MemberPwd" data-valmsg-replace="true" style=@ViewData["newPwdError"]>密碼不得空白，最少八個最多十二個字符，至少一個大寫字母，一個小寫字母，一個數字和一個特殊字符</span>
        </div>
    </div>

    <div class="form-group">
        <label>請再次輸入您的新密碼</label>
        <div class="col-md-10">
            <input type="password" id="pwdCheck" name="pwdCheck" class="control-label col-md-2" />
            <input type="checkbox" onclick="myFunction()">顯示密碼
            <span id="MemberPwdError" class="field-validation-error text-danger" data-valmsg-for="MemberPwd" data-valmsg-replace="true" style=@ViewData["pwdCheckError"]>密碼不得空白，最少八個最多十二個字符，至少一個大寫字母，一個小寫字母，一個數字和一個特殊字符</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


