@{
    ViewBag.Title = "MyDIY";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> @*for草圖風格框線*@
<style>
    /*#region 草圖風格框線 */
    /*草圖風格框線Start*/
    .sketchy {
        padding: 0.5rem 1rem;
        display: inline-block;
        border: 3px solid #333333;
        /*font-size: 1rem;*/
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        letter-spacing: 0.3ch;
        background: #ffffff;
        position: relative;
    }

        .sketchy::before {
            content: '';
            border: 2px solid #353535;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
            border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
        }
    /*草圖風格框線End*/
    /*#endregion */

    /*#region 水平分割線 */
    /*水平分割線Start*/
    .divider {
        position: relative;
        margin-top: 90px;
        height: 1px;
    }

    .div-transparent:before {
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 1px;
        background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
    }

    .div-dot:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -9px;
        left: calc(50% - 9px);
        width: 18px;
        height: 18px;
        background-color: goldenrod;
        border: 1px solid rgb(48,49,51);
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
    }
    /*水平分割線End*/
    /*#endregion */

    /*#region 設定tooltip */
    /*設定tooltip的位置*/
    .tooltipPositionA {
        position: absolute;
        top: 440px;
        left: 195px;
    }

    .tooltipPositionB {
        position: absolute;
        top: 500px;
        left: 600px;
    }

    .tooltipPositionC {
        /*自行設定，如果有需要第3個*/
    }

    .tooltip-container {
        cursor: default; /*箭頭或是手手*/
        position: absolute;
        display: inline-block;
    }

    .tooltip {
        opacity: 0;
        z-index: 99;
        color: #bbb; /*提示文字顏色*/
        width: 190px; /*提示文字框的寬度*/
        display: block;
        font-size: 20px; /*提示文字大小*/
        padding: 5px 10px; /*提示文字內縮*/
        border-radius: 3px; /*提示文字外框樣式*/
        text-align: center; /*提示文字置中*/
        text-shadow: 1px 1px 2px #111;
        background: rgba(51,51,51,0.9);
        border: 1px solid rgba(34,34,34,0.9);
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        
        transition: all .2s ease-in-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        right: -70px; /*提示文字框跳出的位置*/
        bottom: 40px; /*提示文字框跳出的位置*/
    }

        .tooltip:before, .tooltip:after {
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgba(51,51,51,0.9);
            position: absolute;
            bottom: -10px;
            left: 43%;
        }

    .tooltip-container:hover .tooltip, a:hover .tooltip {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    /*#endregion */

    /*#region for部分RWD */
    @@media (max-width: 900) {
        .tooltip-container {
            display: none;
            visibility: hidden;
        }

        #x1 {
            display: none;
            visibility: hidden;
        }

        #x2 {
            display: none;
            visibility: hidden;
        }
    }
    /*#endregion */

    .btn-buy {
        float: right;
    }
</style>


<div class="container">
    <div class="row">
        @*放結構圖*@
        <h1 class="display-4">水龍頭示意圖</h1>
        <div class="col-md-9 embed-responsive">
            <a href="#" id="x1" class="btn btn-success tooltip-container tooltipPositionA">
                Here !
                <span class="tooltip">這裡漏水嗎?</span>
            </a>
            <a href="#" id="x2" class="btn btn-success tooltip-container tooltipPositionB">
                Here !
                <span class="tooltip">水龍頭有點鬆動嗎?</span>
            </a>
            <img src="~/Images/ToolImages/Pt002.jpg" class="img-responsive" style="max-width:100%" alt="Alternate Text" />
        </div>

        @*放零件、工具清單做超連結到商城*@
        <div class="col-md-3">
            <h3>工具</h3>
            <ul class="list-group">
                <li class="list-group-item">工具1<a href="@Url.Action("Product","Tool")?ProductID=Ct001" class="btn btn-info btn-buy" , new { target="_blank" }>購買</a></li>
                
               
            </ul>
            <br />
            <h3>零件</h3>
            <div class="list-group">
                <a href="#" class="list-group-item">零件1</a>
                <a href="#" class="list-group-item">零件2</a>
                <a href="#" class="list-group-item">零件3</a>
                <a href="#" class="list-group-item">零件4</a>
            </div>
            <br />
            <h3 class="userInquire">問題</h3>
            <div class="list-group userInquire">
                <a href="#" class="list-group-item userInquire">水龍頭一直在滴水</a>
                <a href="#" class="list-group-item userInquire">水龍頭底座有些鬆動</a>
                <a href="#" class="list-group-item userInquire">問題3</a>
            </div>
            <h3>不符合您的需求嗎?<a href="#">找師傅 GO</a></h3>
        </div>
    </div>

    @*影片教學*@
    <div class="divider div-transparent div-dot"></div> @*水平分割線*@
    <br />
    <div class="row">
        <div class="col-md-10">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tfLFXt0m0lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-2 list-group">
            <a href="#step4" class="list-group-item">步驟XXXXXXXXX</a>
            <a href="#" class="list-group-item">步驟X</a>
            <a href="#" class="list-group-item">步驟X</a>
            <a href="#" class="list-group-item">步驟X</a>
            <a href="#" class="list-group-item">步驟X</a>
        </div>

    </div>

    <div class="divider div-transparent div-dot"></div> @*水平分割線*@
    @*步驟說明 >>> 開始*@
    <br />
    <h2 class="display-4">步驟教學<small>-更換浴室洗臉枱的水龍頭</small></h2>

    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test04.jpg" class="img-responsive img-thumbnail" alt="步驟1." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>需要的零件</strong></p>
                <p><strong>1/2鋼絲軟管1尺(4分)熱水可用、三角外牙1/2"(4分)及水晶立栓</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test05.jpg" class="img-responsive img-thumbnail" alt="步驟2." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>需要的工具(1/3)</strong></p>
                <p><strong>立栓鉗子、防漏膠布。立栓鉗子主要是用來拆、裝水龍頭用的，與一般鉗子不同的是，它的頭是長長的、彎彎的，方便伸入水槽下面拆、裝水龍頭。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test06.jpg" class="img-responsive img-thumbnail" alt="步驟3." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>需要的工具(2/3)</strong></p>
                <p><strong>另外也要準備手電筒，方便看水槽的下面、活動板手（或合適尺寸的板手），用來拆裝牆壁上的三角外牙開關。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test07.jpg" class="img-responsive img-thumbnail" alt="步驟4." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>需要的工具(3/3)</strong></p>
                <p><strong>因為作業時要停水，所以先存一些水以備臨時要洗手或擦拭之用。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test08.jpg" class="img-responsive img-thumbnail" alt="步驟5." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 1.</strong></p>
                <p><strong>首先，因為三角外牙開關也要拆，所以記得先把自來水總開關關掉，若不拆三角外牙開關，則關閉三角外牙開關即可。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test09.jpg" class="img-responsive img-thumbnail" alt="步驟6." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 2.</strong></p>
                <p><strong>之後開始拆除舊設備，先把軟管從牆壁上的三角外牙開關拆掉。再拆牆壁上的三角外牙開關。</strong></p>
            </div>
        </div>
    </div>
    <br />


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test10.jpg" class="img-responsive img-thumbnail" alt="步驟5." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 3.</strong></p>
                <p><strong>接下來拆水龍頭，這個步驟是比較麻煩的，從洗臉槽下面由下往上看，上面是鎖水龍頭的螺環，下面是軟管接水龍頭的螺環</strong></p>
            </div>
        </div>
    </div><a name="step4"></a>



    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test01.jpg" class="img-responsive img-thumbnail" alt="步驟6." />
            @*草圖風格框線*@
        </div>
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 4.</strong></p>
                <p><strong>因為老舊，所以不好拆，必須雙手並用，左手握住上面的水龍頭固定</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test11.jpg" class="img-responsive img-thumbnail" alt="步驟5." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 5.</strong></p>
                <p><strong>右手使用立栓鉗子，先把下面的軟管拆下，再拆上面的水龍頭。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test13.jpg" class="img-responsive img-thumbnail" alt="步驟6." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 6.</strong></p>
                <p><strong>拆解下來的東西。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test14.jpg" class="img-responsive img-thumbnail" alt="步驟5." />
        </div>
        <div class="col-md-6">
            @*草圖風格框線*@
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 7.</strong></p>
                <p><strong>接下來要開始安裝新品了，首先把所有螺紋捆上防漏膠布。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test15.jpg" class="img-responsive img-thumbnail" alt="步驟6." />
        </div>
        <div class="col-md-6">
            @*草圖風格框線*@
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 8.</strong></p>
                <p><strong>接下來要開始安裝新品了，首先把所有螺紋捆上防漏膠布。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test16.jpg" class="img-responsive img-thumbnail" alt="步驟5." />
        </div>
        <div class="col-md-6">
            @*草圖風格框線*@
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 9.</strong></p>
                <p><strong>把牆壁上的三角外牙開關安裝上去，用板手鎖緊，並且把它的開關關上，此時可以把自來水總開關打開，確認不會漏水。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test17.jpg" class="img-responsive img-thumbnail" alt="步驟6." />
        </div>
        <div class="col-md-6">
            @*草圖風格框線*@
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 10.</strong></p>
                <p><strong>接下來安裝軟管。</strong></p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test18.jpg" class="img-responsive img-thumbnail" alt="步驟5." />
        </div>
        <div class="col-md-6">
            @*草圖風格框線*@
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 11.</strong></p>
                <p><strong>再來是安裝水龍頭，把水龍從洗臉槽上方插到洞裡，下面則將所附的黑色螺環鎖上，並且用立栓鉗子把水龍頭鎖緊。</strong></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test19.jpg" class="img-responsive img-thumbnail" alt="步驟6." />
        </div>
        <div class="col-md-6">
            @*草圖風格框線*@
            <div class=" jumbotron lead sketchy">
                <p><strong>Step 12.</strong></p>
                <p><strong>接下來再用立栓鉗子把軟管鎖緊。</strong></p>
            </div>
        </div>
    </div>
    @Html.CheckBox("測試",true)

    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/DIYImages/Test20.jpg" class="img-responsive img-thumbnail" alt="步驟5." />
        </div>
        @*草圖風格框線*@
        <div class="col-md-6">
            <div class=" jumbotron lead sketchy">
                <p><strong>安裝完成</strong></p>
                <p><strong>測試一下，大功告成。</strong></p>
            </div>
        </div>
    </div>@*步驟說明 <<< 結束*@
    <br />
    <br />
</div>@*end of container*@

<script>
    var viewportWidth = $(window).width();
    console.log(viewportWidth);
    if (viewportWidth < 1000) {
        alert("OK");
        // 當視窗寬度小於900px時執行
        $(".tooltip-container").hide();
        $(".userInquire").show()
    } else {
        $(".tooltip-container").show();
        $(".userInquire").hide();
    }
</script>
