
@{
    ViewBag.Title = "test";
}

<h2>test</h2>

<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />

<!-- Nav tabs -->
<ul class="nav" role="tablist">
    <li role="presentation" class="active"><a href="#work" role="tab" class="btn btn-block blue-btn active-btn" data-toggle="tab">Work</a></li>
    <li role="presentation"><a href="#hire" class="btn btn-primary btn-block blue-btn" role="tab" data-toggle="tab">Hire</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="work">...my working tab</div>
    <div role="tabpanel" class="tab-pane" id="hire">...my hiring tab</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
